@import url("https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@500;600&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Barlow Semi Condensed', sans-serif;
  font-size: 13px;
  background: #ecf2f8;
}

h1 {
  font-size: 18px;
  margin-bottom: 1rem;
  font-weight: 600;
}

.container {
  width: 1100px;
  max-width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
  padding: 1.5rem;
}

.testimonials {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  -ms-grid-rows: (1fr)[2];
      grid-template-rows: repeat(2, 1fr);
      grid-template-areas: 'Daniel Daniel Jonathan Kira'  'Jeanette Patrick Patrick Kira';
  grid-gap: 1.5rem;
}

.testimonials .testimonial {
  border-radius: 8px;
  padding: 1.5rem 2rem;
  height: 100%;
}

.testimonials .testimonial .client {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 1rem;
  gap: 1rem;
}

.testimonials .testimonial .client img {
  width: 30px;
  border-radius: 50%;
}

.testimonials .testimonial .client .client-infos h5 {
  font-weight: 500;
  font-size: 13px;
}

.testimonials .testimonial .client .client-infos p {
  opacity: .5;
  font-weight: 500;
  font-size: 11px;
}

.testimonials .testimonial p {
  opacity: .7;
  font-weight: 500;
}

.testimonials .first {
  background: url(./images/bg-pattern-quotation.svg);
  background-repeat: no-repeat;
  background-color: #7541c8;
  background-position: 75% top;
  color: white;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: Daniel;
}

.testimonials .first .client img {
  border: 2px solid rgba(255, 255, 255, 0.4);
}

.testimonials .second {
  background-color: #48556a;
  color: white;
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: Jonathan;
}

.testimonials .third {
  background-color: white;
  color: #48556a;
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: Jeanette;
}

.testimonials .fourth {
  background-color: #19212e;
  color: white;
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-area: Patrick;
}

.testimonials .fourth .client img {
  border: 2px solid #7541c8;
}

.testimonials .fifth {
  background-color: white;
  color: #48556a;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 4;
  grid-area: Kira;
}

@media screen and (max-width: 768px) {
  h1 {
    font-size: 20px;
  }
  .container {
    width: 95%;
    max-width: 100%;
    height: 100%;
    padding: 4rem 1rem;
  }
  .testimonials {
    -ms-grid-rows: auto;
        grid-template-rows: auto;
        grid-template-areas: "Daniel Daniel Jonathan Jonathan" "Daniel Daniel Jeanette Jeanette" "Patrick Patrick Kira Kira" "Patrick Patrick Kira Kira";
  }
  .testimonials .first {
    background-position: 90% top;
  }
}

@media screen and (max-width: 375px) {
  h1 {
    font-size: 20px;
  }
  .container {
    width: 95%;
    max-width: 100%;
    height: 100%;
    padding: 4rem 1rem;
  }
  .testimonials {
    -ms-grid-rows: auto;
        grid-template-rows: auto;
        grid-template-areas: 'Daniel Daniel Daniel Daniel'  'Jonathan Jonathan Jonathan Jonathan' 'Jeanette Jeanette Jeanette Jeanette'  'Patrick Patrick Patrick Patrick' 'Kira Kira Kira Kira';
  }
  .testimonials .first {
    background-position: 90% top;
  }
}
/*# sourceMappingURL=style.css.map */